*{
    box-sizing: border-box;
}

.container p:first-of-type{
    background: blue;
}

.container p:first-child{
    background: red;
}

.container p:last-of-type{
    background: yellow;
}

.container p:nth-of-type(2){
    background: green;
}

.container span:first-of-type{
    font-size: 600;
    text-decoration: underline;
}
